body{
background-color: black;
}

.App {
  text-align: center;
  background-color: rgb(15, 15, 0);
  height: 98%;
  color: white;
  width: 97%;
  margin: auto;
  border: 2px solid white;
}

input {
  width: 50%;
  height: 25px;
  margin: 5px;
}

.chat-boxes{
  margin-left: 20px;
  color: "white" 
}

.chat-boxes-name, .chat-boxes-time{
 text-align: left;
 margin-bottom: 3px;
 color: rgb(182, 182, 150);
}

.message-text{
  margin-top: 5px;
  text-align: left;
}

.chat-boxes-text{
  background-color: rgb(33, 34, 31);
  border-radius: 10px;
  height: 60px;
  width: 30%;
  padding: 5px 10px;
}
